@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700);
html,
body,
.cross-portfolio,
.bg {
  height: 100%;
  margin: 0;
}

body {
  background: #fff;
  color: #69606b;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Raleway', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}


/* Common css */

a {
  outline: none;
  color: #cf4a5c;
  text-decoration: none;
}

a:hover,
a:focus {
  color: inherit;
}

hr {
  margin: 18px 0;
  background-color: transparent;
  border-top: 2px dashed #8c8b8b;
}


/* Preloader */

#preloader {
  background: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#loader img {
  margin-left: 38px;
}

#loader,
.pre-logo {
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

.pre-logo {
  background: none;
  left: 0;
  margin: 0;
  text-align: center;
  top: 65%;
}

.pre-logo h4 {
  color: #444;
  text-transform: uppercase;
  margin-top: 15px;
}


/* Navigation Style */

#menu-overlay {
  opacity: 0;
  background: #111;
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
#menu-overlay.menu-show {
  visibility: visible;
  z-index: 100;
  opacity: 1;
}

ul.menu-click {
  text-align: center;
  padding-top: 4em;
}

.menu-click li a {
  font-weight: 400;
  position: relative;
  color: #fff;
  font-size: 60px;
  text-align: center;
  line-height: 98px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.menu-click li a:hover {
  color: #cf4a5c;
  text-decoration: none !important;
}

#nav-icon {
  top: 25px;
  right: 15px;
  width: 35px;
  height: 28px;
}

#nav-icon {
  position: fixed;
  display: block;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.cross-portfolio.modify #nav-icon {
  z-index: 1000;
}

.cross-portfolio.modify #nav-icon span {
  background: #444;
}

#nav-icon:hover span {
  background-color: #cf4a5c !important;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 80%;
  background: #fff;
  border-radius: 9px;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 10px;
}

#nav-icon span:nth-child(4) {
  top: 20px;
}

.cross-portfolio.modify #nav-icon.open span {
  background: #fff;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/* Big title stye */

.big-title {
  margin: 0 auto;
  padding: 0 1.25em 10em 1.25em;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.big-title h1 {
  text-transform: uppercase;
  padding: 0 0 0.2em;
  color: #fff;
  font-weight: 800;
  font-size: 5em;
  margin: 0 auto;
}

.big-title p {
  color: #fff;
  padding: 0 0 0.6em;
  font-weight: 400;
  font-size: 2.25em;
  margin: 0 auto;
}

.cross-portfolio .big-title {
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.cross-portfolio.modify .big-title {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}


/* Common style */

.cross-top {
  width: 100%;
  z-index: 10000;
}

.cross-top a {
  display: inline-block;
  color: #fff;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.cross-top .logo {
  position: fixed;
  left: 0;
  padding: 0 25px;
}

.logo {
  text-align: left;
  font-weight: bold;
  display: -moz-inline-stack;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  float: left !important;
  color: #fff;
  position: relative;
}

.logo > span {
  display: -moz-inline-stack;
  display: inline-block;
  float: left;
  border: 2px solid #fff;
  padding: 7px 10px 7px 12px;
}

.logo:hover {
  color: #fff;
  opacity: .8;
}

.avatar {
  text-align: center;
  width: 100%;
  height: auto;
}


/* Google Map */

.gmap {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.gmap_image img {
  max-width: 100%;
}

.text-weight {
  font-weight: 600;
  text-transform: uppercase;
}

.social {
  padding: 0;
  margin: 0;
}

.social li {
  display: inline-block;
  margin-right: 5px;
}

.social li a {
  background: #444444;
  text-align: center;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.25em;
  color: #FFF;
  border-radius: 25px;
}

.social li a:hover {
  background: #cf4a5c;
}

.space {
  margin-bottom: 40px;
}


/* Intro Start */

.cross-portfolio:not(.notrans) .bg-img::before {
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.cross-portfolio:not(.notrans) .bg-img::after {
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}

.cross-portfolio:not(.notrans) .content > div {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.cross-portfolio:not(.notrans) .bg-img::before,
.cross-portfolio:not(.notrans) .bg-img::after,
.cross-portfolio:not(.notrans) .content > div {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.cross-portfolio .bg {
  position: absolute;
}

.cross-portfolio .bg-img {
  position: fixed;
}

.cross-portfolio .bg-img img {
  left: auto;
  right: 0;
}

.cross-portfolio .bg-img::before,
.cross-portfolio .bg-img::after {
  content: '';
  position: absolute;
  z-index: 100;
}

.cross-portfolio .bg-img::after {
  background: #fff;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.cross-portfolio.modify .bg-img::after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.cross-portfolio .bg-img::before {
  width: 100%;
  height: 100%;
  background-color: rgba(79, 77, 77, 0.44);
}

.cross-portfolio.modify .bg-img::before {
  background-color: rgba(97, 62, 63, 0.4);
}

.cross-portfolio .title h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 4em;
}

.cross-portfolio .content {
  width: 60%;
  margin-left: 40%;
  padding: 2em 1em;
  position: relative;
}

.cross-portfolio div.content:nth-child(odd),
.cross-portfolio div.content:nth-child(5),
.cross-portfolio div.content:nth-child(11) {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.cross-portfolio.modify div.content:nth-child(odd) { /* Change div content color odd */
  opacity: 1;
  background: #f3f3f3;
  -webkit-transition: opacity 0.6s ease-in;
  -moz-transition: opacity 0.6s ease-in;
  -o-transition: opacity 0.6s ease-in;
  -ms-transition: opacity 0.6s ease-in;
  transition: opacity 0.6s ease-in;
}

.cross-portfolio.modify div.content:nth-child(odd) small{
  color: inherit;
}

.cross-portfolio.modify div.content:nth-child(5) { /* Change div content 5 to gradient */
  color: #fff;
  background: #466368;
  background: radial-gradient(#648880, #293f50);
  -webkit-transition: opacity 0.6s ease-in;
  -moz-transition: opacity 0.6s ease-in;
  -o-transition: opacity 0.6s ease-in;
  -ms-transition: opacity 0.6s ease-in;
  transition: opacity 0.6s ease-in;
}

.cross-portfolio.modify div.content:nth-child(5) .h2,
.cross-portfolio.modify div.content:nth-child(5) h5 {
  font-family: sans-serif;
  color: #fff;
}

.cross-portfolio.modify div.content:nth-child(11) { /* Change footer color */
  opacity: 1;
  background: #444;
  color: #fff;
  -webkit-transition: opacity 0.6s ease-in;
  -moz-transition: opacity 0.6s ease-in;
  -o-transition: opacity 0.6s ease-in;
  -ms-transition: opacity 0.6s ease-in;
  transition: opacity 0.6s ease-in;
}

.cross-portfolio.modify div.content:nth-child(11) h3,
.cross-portfolio.modify div.content:nth-child(11) p {
  color: #fff;
}

.cross-portfolio .content .containers {
  opacity: 0;
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
}

.cross-portfolio.modify .content .containers {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


/* Delays */

.cross-portfolio:not(.notrans) .bg-img::before,
.cross-portfolio:not(.notrans) .bg-img::after,
.cross-portfolio.modify div.content:nth-child(odd) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.cross-portfolio.modify:not(.notrans) .bg-img::before,
.cross-portfolio.modify:not(.notrans) .bg-img::after {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.cross-portfolio.modify:not(.notrans) .content .containers {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.bg {
  position: relative;
  margin: 0 auto;
  min-height: 560px;
  width: 100%;
}

.bg-img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bg-img img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.content {
  margin: 0 auto;
}

.containers {
  max-width: 900px;
  padding: 0 1.25em;
  margin: 0 auto 1.5em 0.8em;
}


/* Trigger Button */

button.trigger {
  position: fixed;
  bottom: 40px;
  left: 50%;
  z-index: 5000;
  display: block;
  margin-left: -0.5em;
  padding: 0;
  width: 1em;
  height: 1em;
  border: none;
  background: transparent;
  color: transparent;
  font-size: 3em;
  cursor: pointer;
}

.cross-portfolio:not(.notrans) button.trigger {
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.cross-portfolio.modify:not(.notrans) button.trigger {
  opacity: 0;
  z-index: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

button.trigger::before {
  position: absolute;
  bottom: 100%;
  left: -100%;
  padding: 0.8em;
  width: 300%;
  color: #fff;
  content: '点此或滑动';
  font-size: 0.35em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

button.trigger:focus {
  outline: none;
}

button.trigger i {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

button.trigger i::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-item {
  text-align: center;
  font-size: 4em;
  color: #cf4a5c;
}

.hvr-grow-shadow:hover h5 {
  color: #cf4a5c;
}


/* Icon list */

.icon-list {
  display: inline-block;
  max-width: 100%;
  margin-top: 10px;
  font-size: 0;
}

.icon-list:nth-child(2n-1) {
  margin-right: 0;
}

.icon-list-icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  font-size: 22px;
  line-height: .5;
  color: #444444;
}

.icon-list-content {
  display: inline-block;
  vertical-align: middle;
}

.icon-list-title {
  display: block;
  color: #444444;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.icon-list-info {
  color: #444444;
  font-size: 15px;
  line-height: 1.5;
}

.icon-list-info span {
  margin-right: 10px;
}

.panel-default {
  border: 4px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}


/* Work Image */

figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  max-width: 100%;
  max-height: 100%;
  width: 48%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

figure img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

figure figcaption {
  padding: 2em;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure figcaption,
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
}

figure h2,
figure p {
  margin: 0;
}

figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.cross-image figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

figure.cross-image h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

figure.cross-image figcaption::before,
figure.cross-image p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.cross-image p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.cross-image:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.cross-image:hover figcaption::before,
figure.cross-image:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


/* Testimonial-slider */

.item blockquote {
  border-left: none;
  margin: 0;
}

.item blockquote img {
  margin-bottom: 10px;
}

.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}

.item blockquote p:after {
  content: "\f10e";
  font-family: 'Fontawesome';
  margin-left: 10px;
}


/* Footer logo */

.footer-logo {
  text-align: left;
  font-weight: bold;
  display: -moz-inline-stack;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  color: #fff;
  padding-bottom: 12px;
  position: relative;
}

.footer-logo > span {
  display: -moz-inline-stack;
  display: inline-block;
  border: 2px solid #fff;
  padding: 7px 10px 7px 12px;
}

.footer-logo:hover {
  color: #fff;
  opacity: .8;
}

.img-circle {
  width: 100px;
  height: 100px;
}


/* Modal fullscreen */

body.modal-open .cross-portfolio {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.fullscreen .modal-dialog {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  color: #fff;
}

.fullscreen .modal-content {
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  color: #fff;
  background: rgba(25, 25, 25, .5);
  overflow: auto;
}

.fullscreen .modal-content .modal-title h2 {
  color: #fff;
  text-align: center;
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
}

.fullscreen .modal-content h2 span {
  font-weight: 800;
}

.fullscreen .modal-content .close {
  color: #fff;
}

.fullscreen .modal-content .close:hover {
  color: #cf4a5c;
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1;
}


/* Media Query */

@media screen and (max-width: 80em) {
  figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}

@media screen and (max-width: 50em) {
  .title,
  .cross-portfolio {
    font-size: 90%;
  }

  .cross-portfolio .content {
    width: 95%;
    margin-left: 5%;
    padding: 2em 1em 2em 0;
  }

  .cross-portfolio.modify .cross-top .logo {
    opacity: 0;
  }

  .cross-portfolio .bg-img::after {
    width: 95%;
  }

  figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}

@media screen and (max-width: 27em) {
  .cross-portfolio .bg-img::after {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  .containers {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cross-portfolio.modify .cross-top .logo {
    opacity: 0;
  }

  .cross-portfolio .content {
    width: 100%;
    margin-left: 0;
    padding: 2em 0;
  }

  .cross-portfolio .content p {
    font-size: 14px;
  }

  .cross-portfolio .title h1 {
    font-size: 38px;
  }

  .cross-portfolio .content h2 {
    font-size: 28px;
  }

  .cross-portfolio .content h3 {
    font-size: 24px;
  }

  .cross-portfolio .content h4 {
    font-size: 18px;
  }

  .menu-click li a {
    font-size: 40px;
    line-height: 68px;
  }
}
